
/* reset */
button {
  all: unset;
}

.Label {
  color: var(--color-dark-100);

  &.disabled {
    color: var(--color-dark-300);
  }

}

.SelectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 12px;
  margin-top: -10px;
  height: 36px;
  box-sizing: border-box;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
  background-color: var(--color-dark-900);

  &.fullwidth {
    width: 100%;
  }
}

.SelectTrigger:hover {
  background-color: var(--color-dark-500);
  border-color: var(--color-dark-100)
}

.SelectTrigger:disabled {
  background-color: var(--color-dark-900);
  border-color: var(--color-dark-300);
}

.SelectTrigger:focus {
  border-color: var(--color-info-700);
  border-width: 2px;
}
.SelectTrigger[data-placeholder] {
  color: var(--color-light-100);
}
.SelectTrigger[data-placeholder]:disabled {
  color: var(--color-dark-300);
}


.SelectIcon {
  color: var(--color-light-100);
  padding: 0 12px;
}

.SelectIconDisabled {
  color: var(--color-dark-300);
  padding-right: 12px;
}

.UpIcon {
  transform: rotate(180deg);
  transition: 200ms linear all;
}
.DownIcon {
  transform: rotate(0deg);
  transition: 200ms linear all;
}


.SelectContent {
  overflow: hidden;
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;
  background-color: var(--color-dark-900);
  width: var(--radix-select-trigger-width);
  }


.SelectItem {
  color: var(--color-light-100);
  display: flex;
  align-items: center;
  height: 36px;
  padding-left: 12px;
  padding-right: 12px;
  position: relative;
  user-select: none;
}
.SelectItem[data-disabled] {
  color: var(--color-accent-900);
  pointer-events: none;
}
.SelectItem[data-highlighted] {
  outline: none;
  background-color: var(--color-accent-900);
  color: var(--color-accent-300);
}
