
/* reset */
button {
  all: unset;
}

.SelectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  font-size: 16px;
  line-height: 1;
  height: 36px;
  gap: 5px;
  border: 1px solid var(--color-dark-300);
  border-radius: 2px;
}

.SelectTrigger:hover {
  background-color: var(--color-dark-500);
  border-color: var(--color-dark-100)
}
.SelectTrigger:focus {
  border-color: var(--color-info-700)
}
.SelectTrigger[data-placeholder] {
  color: var(--color-light-100);
}

.SelectIcon {
  color: var(--color-light-100);
}

.SelectContent {
  overflow: hidden;
  border: 1px solid var(--color-dark-100);
  border-radius: 2px;
  background-color: var(--color-dark-900);
  }

.SelectViewport {
//margin-top: 36px;

}

.SelectItem {
  font-size: 16px;
  line-height: 1;
  color: var(--color-light-100);
  display: flex;
  align-items: center;
  height: 36px;
  padding: 0px 35px 0 25px;
  position: relative;
  user-select: none;
}
.SelectItem[data-disabled] {
  color: var(--color-accent-900);
  pointer-events: none;
}
.SelectItem[data-highlighted] {
  outline: none;
  background-color: var(--color-accent-900);
  color: var(--color-accent-300);
}
//
//.SelectLabel {
//  padding: 0 25px;
//  font-size: 12px;
//  line-height: 25px;
//  color: #0f9954;
//}



.SelectItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.SelectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: #0f9954;
  cursor: default;
}