/* IMPORTANT */

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}


.arrow {
  height: 24px;
  width: 24px;
  //margin: 0 6px;
  display: flex;
  justify-content: center;
  align-items: center;






  &.disabled {
  //background-color: var(--color-dark-100); /* defines the background color of the image */
  //mask: url(./arrow_r.svg) no-repeat center / contain;
}

  &.active {
    //background: url(./arrow_r.svg) no-repeat center / contain;
    cursor: pointer;
  }

  &.left {
    transform: rotate(180deg);
  }

  &:focus {
    border: 2px solid var(--color-info-900);
  }

}

.arrowImg {
  width: 5px;
  height: 10px;
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}



.digit {
  all: unset;
  box-sizing: border-box;
  height: 24px;
  width: 24px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 2px;

  &.active {
    background-color: var(--color-light-100);
    color: var(--color-dark-900);
  }

  &:hover {
    color: var(--color-light-100);
    background-color: var(--color-dark-500);
  }

  &:focus {
    border: 2px solid var(--color-info-900);
  }


}


.threeDots {
  display: inline-flex;
  margin: 0 5px;
}

.showTxt {
  margin: 0 6px 0 18px;
}

.select {
  display: inline-flex;
}

