@mixin container {
  width: 100%;
  max-width: px-to-unit(1170);
  min-height: 100%;
  margin: 0 auto;
  padding: 0 1.5rem;
}

@mixin button {
  all: unset;

  cursor: pointer;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none; 
  user-select: none;

  display: inline-flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  padding: 0.6rem 2.8rem;

  font-size: var(--font-size-s);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-m);
  text-align: center;
  text-decoration: none;

  background-color: transparent;
  border: none;
  border-radius: 4px;

  transition: all 0.2s ease-in-out;

  &:focus-visible {
    outline: 2px solid var(--color-info-700);
  }

  &:disabled {
    cursor: not-allowed;
  }
}

@mixin typography(
  $fontFamily: null,
  $fontSize: null,
  $fontWeight: null,
  $lineHeight: null,
  $color: currentcolor
) {
  margin: 0;

  font-family: $fontFamily;
  line-height: $lineHeight;
  font-size: $fontSize;
  font-weight: $fontWeight;
  color: $color;
}

@mixin screen-size(
  $width: null,
  $height: null,
  $max-width: null,
  $max-height: null,
  $min-width: null,
  $min-height: null
) {
  width: $width;
  height: $height;
  max-width: $max-width;
  max-height: $max-height;
  min-width: $min-width;
  min-height: $min-height;
}

@mixin display-flex(
  $display: flex,
  $direction: null,
  $justify: null,
  $align: null,
  $gap: null,
  $wrap: null
) {
  display: $display;
  flex-flow: $direction $wrap;
  gap: $gap;
  align-items: $align;
  justify-content: $justify;
}

@mixin radio($color) {
  content: '';

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 2.25rem;
  height: 2.25rem;

  background-color: $color;
  border-radius: 50%;
}

@mixin pagination-item {
  @include display-flex($justify: center, $align: center);

  min-width: 2.4rem;
  height: 2.4rem;

  &:focus-visible {
    border-radius: 2px;
    outline: 2px solid var(--color-info-900);
  }
}

@mixin input-icon($left, $right) {
  @include display-flex($align: center);

  cursor: pointer;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  width: 2rem;
  height: 2rem;

  color: var(--color-dark-100);

  @if $right != 0 {
    right: $right;
  }

  @if $left != 0 {
    left: $left;
  }
}

@mixin border-with-color($color) {
  border: 1px solid $color;
}
