.container {
  padding: 0px 136px;
}

.backLinkTxtWrapper {
  display: flex;
  align-items: flex-end;
  margin-top: 24px;
}

.backLinkTxt {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.arrowSpan {
  margin-right: 6px;
  margin-bottom: 4px;
}

.pageHeadingWrapper {
  display: flex;
  justify-content: space-between;
  padding: 36px 0px 15px 0px;
}

.titleWithMenuWrapper {
  display: flex;
  gap: 6px;
}

.menuIconWrapper {
  padding-top: 5px;
}

.searchInputWrapper {
  padding: 25px 0;
}

.iconsCell {
  text-align: -webkit-right;
}

.iconsDiv {
  display: flex;
  justify-content: space-between;
  width: 42px;
}
