.container {
  padding: 0px 136px;
}

.pageHeadingWrapper {

  display: flex;
  justify-content: space-between;
  padding: 36px 0px;
}

.iconsCell {
  text-align: -webkit-right;
}

.iconsDiv {
  display: flex;
  justify-content: space-between;
  width: 68px;
}




