.container {
  padding: 0px 136px;
}

.pageHeadingWrapper {
  display: flex;
  justify-content: space-between;
  padding: 36px 0px;
}

.nameLink {
  color: white;
  text-decoration: none;
}

.nameLink:hover {
  text-decoration: underline;
}

.iconsCell {
  text-align: -webkit-right;
}

.iconsDiv {
  display: flex;
  justify-content: space-between;
  width: 68px;
}




