.container {
  padding: 0px 136px;
}

.backLinkTxtWrapper {
  display: flex;
  align-items: flex-end;
  margin: 24px 0;
}

.backLinkTxt {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.arrowSpan {
  margin-right: 6px;
  margin-bottom: 4px;
}


.title {
  text-align: center;
  padding: 33px 0 45px
}

.shots {
  color: var(--color-dark-100);
  margin-bottom: 35px;
}

.button {
  text-align: center;
  margin: 48px 0 10px
}

.rate {
  padding: 12px 0 0 0;
}