.title {
  text-align: center;
  padding: 33px 0 45px
}

.shots {
  color: var(--color-dark-100);
  margin-bottom: 35px;
}

.button {
  text-align: center;
  margin: 48px 0 10px
}

.rate {
  padding: 12px 0 0 0;
}