.item {
  all: unset;

  cursor: pointer;

  display: flex;
  gap: 6px;
  align-items: center;

  padding-top: 12px;
  padding-bottom: 12px;

  &:hover {
    background-color: transparent;
  }
}

.menuItem {
  border-bottom: 1px solid var(--color-dark-500, #333);

  &:nth-last-child(-n + 2) {
    border-bottom: none;
  }
}

.menuItem[data-highlighted] {
  color: var(--color-accent-100);
  text-decoration: underline;
  outline: transparent;
  transition: 0.2s;

  &:focus-visible {
    outline: white;
  }
}

.menuItem svg {
  //fill: var(--color-light-100);
  fill: none;
}

.menuItem[data-highlighted] svg {
  //fill: var(--color-accent-100);
  fill: none;
}

.menuItemUserBar[data-highlighted] {
  cursor: default;
  color: unset;
  text-decoration: none;
}

.menu {
  margin-top: 6px;
  padding: 0 12px;

  background: var(--color-dark-700, #171717);
  border: 1px solid var(--color-dark-500, #333);
  border-radius: 4px;
}

.colorDark {
  color: var(--color-dark-100, #808080);
}

.flexContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dropdownMenuArrow {
  fill: var(--color-dark-700, #171717);
  stroke: var(--color-dark-500, #333);
  stroke-width: 2px;
}

.arrow {
  position: absolute;
  top: -11px;
  left: calc(50% - 3px);
  transform: rotate(45deg);

  width: 9px;
  height: 9px;

  background-color: var(--color-dark-700, #171717);
  border: 1px solid var(--color-dark-500, #333);
  border-top: none;
  border-left: none;
}

.iconButton {
  cursor: pointer;
  display: flex;
}

/* stylelint-disable-next-line no-descending-specificity */
.iconButton svg {
  //fill: white;
  fill: none;

  //stroke: white;
  stroke: none;

  transition: 0.2s;

  &:hover {
    fill: var(--color-accent-100);
    stroke: var(--color-accent-100);
  }
}