.txtFieldWrapper {
  margin-bottom: 24px;
}
.coverImage {
  margin-bottom: 24px;
  padding: 30px;
  width: 250px;
  border: 1px var(--color-dark-300) solid;
  position: relative;
}

.iconButton {
  cursor: pointer;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  width: 25px;
  height: 25px;

  color: var(--color-light-100);

  border: none;
  border-radius: 100%;

  transition: 0.2s;

  position: absolute;
  top: 10px;
  left: 215px;
}

.iconButton:hover {
  background: var(--color-dark-500);
  box-shadow: 0 0 0 5px var(--color-dark-500);
}

.iconButton:focus {
  background: var(--color-dark-700);
  box-shadow: 0 0 0 5px var(--color-dark-700);
}

.checkBoxWrapper {
  margin: 24px 0;
}

.footerWrapper {
  display: flex;
  justify-content: space-between;
  padding: 12px 0px 36px 0px;
}