@import '@/styles/function';

.form {
  display: grid;
}

.formTextField {
  /* Стили для текстового поля */
}

.formInstructions {
  color: var(--color-light-900);
  line-height: var(--line-height-m);
  opacity: 0.5;
  padding: px-to-unit(20) 0 px-to-unit(65);
}

.formButton {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;

  margin-bottom: 20px;
}
